# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs / temp
*.log

# Uploads (important for your project)
uploads/

backend/WhatsApp Chat with SELL & RENT.txt