# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual env
venv/
.env
.venv/
env/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs / temp
*.log

# Mac temp files
*.swp

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Uploads (important for your project)
uploads/
Testing
Backupz
backend/WhatsApp Chat with SELL & RENT.txt
backend/*.txt
